<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <h1>Your phones</h1>
    <h5> Drag and edit the priopity of phones (will call the first phone on the list and if unasnwered will call number 2 etc...) </h5>
    <br>
    <div class="col-md-10">
      <div class="col-md-1" style="margin:0;padding:0;">
        <ul id="sortable-numbers" class="list-group">
          <% for i in 1..@phones.admin_number.count do %>
            <li class="list-group-item"> <%= i %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-11" style="margin:0;padding:0;">
        <ul id="sortable" class="list-group">
          <% @phones.admin_number.each do |phone| %>
            <li class="list-group-item" id="<%= phone.id %>"> <%= phone.phone_number %> </li>
          <% end %>
        </ul>
      </div>
      <a href="<%= new_phone_path(role: :admin_number) %>" class="col-md-12 btn btn-default">Add new phone</a>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Your freind's phones</h1>
    <h5> These phones will be called when you don't answer you phone calls (all the numbers will be called at the same time).</h5>
    <br>
    <div class="col-md-10">
      <ul id="sortable-numbers" class="list-group">
        <% @phones.friend_number.each do |phone| %>
          <li class="list-group-item"> <%= phone.phone_number %></li>
        <% end %>
      </ul>
      <a href="<%= new_phone_path(role: :friend_number) %>" class="col-md-12 btn btn-default">Add new phone</a>
    </div>
  </div>
</div>