<%= form_for(alert_range) do |f| %>
  <% if alert_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert_range.errors.count, "error") %> prohibited this alert_range from being saved:</h2>

      <ul>
      <% alert_range.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :interval %>
    <%= f.number_field :interval %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
